{% extends 'base.html' %}

{% block content %}
<div class="row text-left">
  <div class="col-md-12">
    <h1>Aeonics overview</h1>
    <div style="overflow-x: auto;">
    <table class="table table-striped table-bordered table-sm table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Zone / Tier / NM name</th>
          {% for c in characters %}
          <th scope="col"><div class="verticaltableheading">{{ c.name }}</div></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for g in nm_groups %}
            {% if g.new_area %}
            <tr class="table-info">
                <th scope="colgroup" colspan="{{ number_of_characters|add:1 }}"><strong>{{ g.area_name }}</strong></th>
            </tr>
            {% endif%}
            <tr class="table-secondary">
                <th scope="colgroup" colspan="{{ number_of_characters|add:1 }}" style="padding-left: 1em">{{ g.type_name }}</th>
            </tr>
            {% for x in g.nms %}
            <tr>
              <th scope="row" style="padding-left: 2em">{{ x.name }}</th>
              {% for char in characters %}
              <td class="bg-{% if x.id in char.killed_nms %}success{%else%}danger{%endif%}"><span class="fas fa-{% if x.id in char.killed_nms %}check{%else%}times{%endif%}" aria-hidden="true"></span></td>
              {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}