{% extends 'base.html' %}

{% block content %}
<div class="row text-left">
  <div class="col-md-12">
    <h1>{{ character.name }}</h1>
    <p>
      <a href="{% url 'character-loot-overview' character.name %}" role="button" class="btn btn-primary">Go to Loot Overview for {{ character.name }}</a>
    </p>
    <p>Click on titles to expand.</p>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="heading0">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-edit' character.name %}" role="button" class="btn btn-primary">Edit character</a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer" data-toggle="collapse" data-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
            Character details
          </h4>
        </div>

        <div id="collapse0" class="collapse show" aria-labelledby="heading0" data-parent="#accordion">
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3">Name</dt>
              <dd class="col-sm-9">{{ character.name }}</dd>
              <dt class="col-sm-3">Owner</dt>
              <dd class="col-sm-9">{{ character.owner.first_name }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading1">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-jobs-edit' character.name %}" role="button" class="btn btn-primary">Edit jobs</a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
              Jobs
          </h4>
        </div>

        <div id="collapse1" class="collapse hide" aria-labelledby="heading1" data-parent="#accordion">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Job</th>
                  <th scope="col">Level</th>
                  <th scope="col">Mastered</th>
                  <th scope="col">Event status</th>
                  <th scope="col">Gearing status</th>
                </tr>
              </thead>
              <tbody>
                {% for cjob in character.characterjobs.all %}
                <tr>
                  <th scope="row">{{ cjob.job.name }}</th>
                  <td>{{ cjob.level }}</td>
                  <td>{{ cjob.mastered_html|safe }}</td>
                  <td>{{ cjob.event_status_simple_display }}</td>
                  <td>{{ cjob.gear_status_simple_display }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-omen-bosses-wishlist' character.name %}" role="button" class="btn btn-primary">Edit Omen scale choices</a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer pull-left" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Omen scales
          </h4>
        </div>
        <div id="collapse2" class="collapse hide" aria-labelledby="heading2" data-parent="#accordion">
          <div class="card-body">
            <p>Omen bosses {{ character.name }} wants killed:</p>
            <p>
              <strong>First choice</strong>:
              {{ character.omenbosswishlist.get_first_choice_display|default:"None selected" }}
            </p>
            <p>
              <strong>Second choice</strong>:
              {{ character.omenbosswishlist.get_second_choice_display|default:"None selected" }}
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading5">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              {% if not character.dynamisgearchoices or character.dynamisgearchoices.can_be_edited %}
              <a href="{% url 'character-dynamis-gear' character.name %}" role="button" class="btn btn-primary">
                Edit Dynamis gear
                {% if character.dynamisgearchoices.recently_edited %}
                  <div>
                    Can be re-edited until {{ character.dynamisgearchoices.recent_edit_timeout }}.
                  </div>
                {% endif %}
              </a>
              {% else %}
                Editing is blocked until {{ character.dynamisgearchoices.next_edit_time }}
              {% endif %}
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer pull-left" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Dynamis Gear Choices
          </h4>
        </div>
        <div id="collapse5" class="collapse hide" aria-labelledby="heading5" data-parent="#accordion">
          <div class="card-body">
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Zone</th>
                  <th scope="col">Jobs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">San d'Oria</td>
                  <td>{{ character.dynamisgearchoices.sandoria_jobs|join:", " }}</td>
                </tr>
                <tr>
                  <th scope="row">Bastok</td>
                  <td>{{ character.dynamisgearchoices.bastok_jobs|join:", " }}</td>
                </tr>
                <tr>
                  <th scope="row">Windurst</td>
                  <td>{{ character.dynamisgearchoices.windurst_jobs|join:", " }}</td>
                </tr>
                <tr>
                  <th scope="row">Jeuno</td>
                  <td>{{ character.dynamisgearchoices.jeuno_jobs|join:", " }}</td>
                </tr>
                <tr>
                  <th scope="row">Body</td>
                  <td>{{ character.dynamisgearchoices.body_jobs|join:", " }}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading6">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-aeonics' character.name %}" role="button" class="btn btn-primary">
                Edit Aeonics progress
              </a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer pull-left" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            Aeonics Progress
          </h4>
        </div>
        <div id="collapse6" class="collapse hide" aria-labelledby="heading6" data-parent="#accordion">
          <div class="card-body">
            Aeonics overview coming soon. For now click the edit button to see your status.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading7">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-dynamis-wave3' character.name %}" role="button" class="btn btn-primary">
                Edit Dynamis Wave 3 settings
              </a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer pull-left" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            Dynamis wave 3
          </h4>
        </div>
        <div id="collapse7" class="collapse hide" aria-labelledby="heading7" data-parent="#accordion">
          <div class="card-body">
            {% with wave3info=character.dynamiswave3registration %}
            <p>
              <strong>Dynamis wave 3 jobs:</strong>
              {{ wave3info.wave3jobs.all|join:", " }}
            </p>
            <p>
              <strong>Is backup character?:</strong>
              <span class="fa fa-{% if wave3info.backup_character %}check text-success{%else%}times text-danger{%endif%}"></span>
            </p>

            <table class="table table-bordered table-wave3info" style="width: auto;">
              <thead>
                <tr class="table-primary">
                  <th></th>
                  <th scope="col">Windurst</th>
                  <th scope="col">Bastok</th>
                  <th scope="col">San d'Oria</th>
                  <th scope="col">Jeuno</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col" class="table-secondary">Mask clears</th>
                  <td scope="col"><span class="fa fa-{% if wave3info.windurst_mask_clear %}check text-success{%else%}times text-danger{%endif%}"></span></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.bastok_mask_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.san_doria_mask_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.jeuno_mask_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                </tr>
                <tr>
                  <th scope="col" class="table-secondary">Boss clears</th>
                  <td scope="col"><span class="fa fa-{% if wave3info.windurst_boss_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.bastok_boss_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.san_doria_boss_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                  <td scope="col"><span class="fa fa-{% if wave3info.jeuno_boss_clear %}check text-success{%else%}times text-danger{%endif%}"></td>
                </tr>
              </tbody>
            </table>
            {% endwith %}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading8">
          {% if can_edit %}
          <div class="btn-toolbar float-right">
            <div class="btn-group">
              <a href="{% url 'character-registered-drops' character.name %}" role="button" class="btn btn-primary">
                Register drops
              </a>
            </div>
          </div>
          {% endif %}
          <h4 class="mb-0 cursor-pointer pull-left" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
            Registered drops
          </h4>
        </div>
        <div id="collapse8" class="collapse hide" aria-labelledby="heading8" data-parent="#accordion">
          <div class="card-body">
            Click here to register drops that you have already gotten on this character.
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
{% endblock %}
