{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
  <div id="wave3characteredit" class="row text-left">
    <div class="col-md-12">
      <h2>Select dynamis wave 3 settings for {{ view.character.name }}</h2>
      <form method="post" role="form" id="dynagearform">
        {% csrf_token %}

        {{ form.backup_character|bootstrap }}

        {{ form.wave3jobs|bootstrap }}

        <div><strong>Clears</strong></div>
        <table class="table table-bordered table-wave3info" style="width: auto;">
          <thead>
            <tr class="table-primary">
              <th></th>
              <th scope="col">Windurst</th>
              <th scope="col">Bastok</th>
              <th scope="col">San d'Oria</th>
              <th scope="col">Jeuno</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col" class="table-secondary">Mask clears</th>
              <td scope="col">{{ form.windurst_mask_clear }}</td>
              <td scope="col">{{ form.bastok_mask_clear }}</td>
              <td scope="col">{{ form.san_doria_mask_clear }}</td>
              <td scope="col">{{ form.jeuno_mask_clear }}</td>
            </tr>
            <tr>
              <th scope="col" class="table-secondary">Boss clears</th>
              <td scope="col">{{ form.windurst_boss_clear }}</td>
              <td scope="col">{{ form.bastok_boss_clear }}</td>
              <td scope="col">{{ form.san_doria_boss_clear }}</td>
              <td scope="col">{{ form.jeuno_boss_clear }}</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" role="button" class="btn btn-primary">Save changes</button>
        <a href="{% url 'character' view.character.name %}" role="button" class="btn btn-danger">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
