{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="dynamis-maps" class="text-left">
<h1>San d'Oria</h1>
<p>
<a href="{% static 'mgmembers/images/Sandoria.jpg' %}"><img src="{% static 'mgmembers/images/Sandoria.jpg' %}" width="800"  /></a>
</p>
<h1>Windurst</h1>
<p>
<a href="{% static 'mgmembers/images/Windurst.jpg' %}"><img src="{% static 'mgmembers/images/Windurst.jpg' %}" width="800"  /></a>
</p>
<h1>Jeuno</h1>
<p>
<a href="{% static 'mgmembers/images/Jeuno.jpg' %}"><img src="{% static 'mgmembers/images/Jeuno.jpg' %}" width="800"  /></a>
</p>
</div>
{% endblock %}
