{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row text-left">
  <div class="col-md-12">
    <h1>Gear choices overview</h1>
    <p>
      For Omen scales see <a href="{% url 'gear-omen-scales' %}">Omen scales overview</a>.
    </p>
    <p>
      For dynamis drops see <a href="{% url 'gear-dynamis-overview' %}">Dynamis gear overview</a>.
    </p>
    <div>
      <div  class="card card-block">
      <div class="card-header">Filter</div>
      <form name="jobsfilterform" id="jobsfilterform" style="padding: 1em;">
        <div class="form-group">
          <label for="smartfilter">Select by smart filter</label>
          <input type="text" class="form-control" id="smartfilter" aria-describedby="smartfilterhelp" placeholder="Input a list of jobs, for example one copy/pasted from BG-wiki">
        </div>
        <div class="form-group">
          <label for="knowndrops">Select by known drops</label>
          <select class="form-control" id="knowndrops">
            <option>--</option>
          </select>
        </div>
        <div class="form-group">
          Manual selection
          <div class="form-row" style="padding-left: 1.5em;">
            {% for job in jobs %}
            <div class="form-check" style="min-width: 5em;">
              <input class="form-check-input" type="checkbox" name="filterjob" id="filterjob_{{ job.name }}" value="{{ job.name }}" />
              <label class="form-check-label" for="filterjob_{{ job.name }}">{{ job.name }}</label>
            </div>
            {% if forloop.counter|divisibleby:"11" %}
            </div>
            <div class="form-row" style="padding-left: 1.5em;">
            {%endif%}
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary" type="button" id="clear-filter-button">Clear all</button>
        </div>
      </form>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Result summary</div>
        <div class="card-body">
          <dl>
            <dt>Primary jobs</dt>
            <dd id="primary-jobs-output" style="min-height: 1.5em;"></dd>
            <dt>Secondary jobs</dt>
            <dd id="secondary-jobs-output" style="min-height: 1.5em;"></dd>
          </dl>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Job</th>
          <th scope="col">Primary</th>
          <th scope="col">Secondary</th>
        </tr>
      </thead>
      <tbody id="jobstablebody">
        {% for job in jobs %}
        <tr>
          <th scope="row">{{ job.name }}</th>
          <td class="primaryjobs">{{ job.primary|join:", " }}</td>
          <td class="secondaryjobs">{{ job.secondary|join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="{% static 'mgmembers/javascript/gear_overview_general.js' %}"></script>
{% endblock %}
