{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
  <div class="row text-left">
    <div class="col-md-12">
      <h2>Edit jobs for {{ character.name }}</h2>
      <p>
        The gear choices here do not count for dynamis drops. To edit your
        Dynamis gear preferences go to
        <a href="{% url 'character-dynamis-gear' character.name%}">Dynamis Gear Choices</a>.
      </p>
      <form method="post" role="form" id="loginform">
        {% csrf_token %}
        {{ form.management_form }}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Job</th>
              <th scope="col">Level</th>
              <th scope="col">Mastered</th>
              <th scope="col">Use for events?</th>
              <th scope="col">Gather gear for this job?</th>
            </tr>
          </thead>
          <tbody>
            {% for subform in form %}
            <tr>
              <th scope="row">
                {{ subform.id.as_hidden }}
                {{ subform.character.as_hidden }}
                {{ subform.job.as_hidden }}
                {{ subform.job.name }}
                {% if subform.errors %}
                <ul class="errorlist nonfield text-danger">
                  {% for x in subform.errors.values %}
                    {% for y in x %}
                    <li>{{ y }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>
                {% endif %}
              </th>
              <td>{{ subform.level }}</td>
              <td>{{ subform.mastered }}</td>
              <td>{{ subform.event_status }}</td>
              <td>{{ subform.gear_status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" role="button" class="btn btn-primary">Save changes</button>
        <a href="{% url 'character' character.name %}" role="button" class="btn btn-danger">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
