{% extends 'base.html'%}
{% block content %}
<div id="aboutpage" style="text-align: left">
<h1 class="c15" id="h.ag3vf0hqva2i"><span class="c12">About Midguardians / Linkshell Rules</span></h1>
<ul class="c7 lst-kix_5ekljgp7uv8k-0 start">
    <li class="c2 c13"><span class="c0">Linkshell name: Midguardians</span></li>
    <li class="c2 c13"><span class="c0">Server: Bahamut</span></li>
    <li class="c2 c13"><span class="c0">Leader: Miaw</span></li>
    <li class="c2 c13"><span class="c0">Sackholders: Kerian, Jinxx, Svedin, Omegus, Beckydacatlady</span></li>
</ul>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span class="c0">
Midguardians is a european-based casual/social linkshell that also does some
end-game events. We are not hardcore enough to have a a points system for
drops, but we like to get drunk and go kick Ou&rsquo;s arse.</span></p>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span>Linkshell events are typically planned Wednesday, Friday
and Sunday evenings at 20:00 GMT+1 (GMT+2 during the summer).</span></p>
<p class="c2 c4"><span class="c0 c3"></span></p>
<p class="c2"><span class="c0">We try to be casual, however some rules are
required in order to ensure that everyone gets a benefit from participating
on end-game events. Those rules are outlined below.</span></p>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span class="c0">We generally just want to have fun without too
much fuss, so we expect our members to behave themselves and to be fair
towards other members of the linkshell.</span></p>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span class="c0">If sackholders agree that a member does not
conduct themselves according to these simple guidelines, that member will
be given a warning. If things do not improve after a warning has been issued
the member might be kicked from the linkshell. Note that this will only
happen in extreme cases: Generally we just want to have fun.</span></p>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span>We accept any members who just want to be social and hang
out in the linkshell. Members who wants to actively join end-game events
will have to register themselves on the </span>
<span class="c14"><a class="c1" href="http://members.midguardians.com/">http://members.midguardians.com/</a></span>
<span class="c0">website and follow the rules outlined below.</span></p>
<h2 class="c10" id="h.15jjbs4gv6vd"><span class="c6">Discord</span></h2>
<p class="c2"><span class="c0">We have our own discord-server that can be
freely used by our members. Members should be on discord during events if at
all possible. It is okay to join without a microphone, we just want members
to be able to hear planning and orders that might only be communicated with
voice chat during stressful situations.</span></p>
<h1 class="c15" id="h.xbcrmlul5qw"><span class="c12">Information regarding
drops from events</span></h1>
<p class="c2"><span>All members who want drops from events must register
which drops they want on the </span>
<span class="c14"><a class="c1" href="http://members.midguardians.com/">http://members.midguardians.com/</a></span>
<span class="c0">website. Currently it is possible to set preferences
for Dynamis (D) relic items and scales from Omen bosses.</span></p>
<h2 class="c10" id="h.2bauy2ye8vn7"><span class="c6">Dynamis (D)</span></h2>
<h3 class="c5" id="h.h99b2mm0x70x"><span class="c9">Changing preferences</span></h3>
<p class="c2"><span class="c0">It is only possible to change preferences for
Dynamis drops once every two months. This is to make sure that lucky persons
do not grab loot for their &ldquo;backup jobs&rdquo; in front of people who
have been waiting months for the drop on their primary job.</span></p>
<p class="c2 c4"><span class="c0"></span></p>
<p class="c2"><span class="c0">There is an exception to the two month rule
that allows drop preferences to be changed within one hour of the last
performed change. This is to make sure members have the possibility to
correct an error without having to contact a sackholder. Members should
always double-check their preferences after making a change to make sure
they get to make any corrections within the one-hour window.</span></p>
<p class="c2"><span class="c0">Please note that members should not register for
drops with the intent to sell them. Doing so will be considered againts
linkshell policy. Our goal is to get gear to the members who needs it for
bettering their jobs. There are plenty of other ways to make money in the game
that does not cheat fellow members out of their gear and we encourage members
to make use of those instead.</span></p>
<h3 class="c5" id="h.4zk9csxyi6hs"><span class="c9">Drops for unregistered jobs</span></h3>
<p class="c2"><span class="c0">If an item drops in Dynamis that noone has a
preference for, that item should be allowed to drop randomly. However if all
the members that are present at the event agree that one person could benefit
from the item, that person will be allowed to lot it.</span></p>
<h3 class="c5"><span class="c9">Currency drops</span></h3>
<p>Currency drops from Dynamis will be collected on a mule and distributed
in an equal amount to all participating players at the end of the run.
This is to avoid players who attend the event with mules getting double loot.</p>
<p>Left over currency will carry over to the next run.</p>
<h3>Wave 3 progress</h3>
<p>Due to the difficulty of wave 3 members might be required to go on specific
jobs when trying for wave 3 progress.</p>
<h3 class="c5" id="h.at2b5yf3c1x7"><span class="c9">New members</span></h3>
<p class="c2"><span class="c0">New members will have to participate in at
least four Dynamis (D) runs before they will be allowed to lot on
items.</span></p>
<h2 class="c10" id="h.jov7q68xxi1j"><span class="c6">Omen</span></h2>
<h3 class="c5" id="h.ez3uoe1588rl"><span class="c9">Changing preferences</span></h3>
<p class="c2"><span class="c0">It is at the moment possible to freely change
scale drop preferences for Omen. However, if the sackholders feel that this is
being exploited by members a two month restriction like the one for Dynamis
gear might be implemented.</span></p>
<h3 class="c5" id="h.jg2k0a6mfu01"><span class="c9">Non-scale drops</span></h3>
<p class="c2"><span class="c0">Non-scale drops in Omen usually go up for
freelot. However as a general rule members should only lot for items that
can be used by their main jobs. If sackholders feel that this system is being
exploited a more restrictive system might be implemented.</span></p>
<h3 class="c5" id="h.ic0xqfbaq06"><span class="c9">New members</span></h3>
<p class="c2"><span class="c0">New members will have to participate in four
Omen runs before they will be allowed to lot on any items, both scales and
others.</span></p>
</div>
{% endblock %}