{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
  <div class="row text-left">
    <div class="col-md-12">
      <h2>Select which REMA weapon you want to augment</h2>
      <p>Only one choice can be made for each player.</p>
      <form method="post" role="form" id="dynagearform">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" role="button" class="btn btn-primary">Save changes</button>
        <a href="{% url 'home' %}" role="button" class="btn btn-danger">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
