{% extends 'base.html' %}
{% load bootstrap %}
{% load recaptcha2 %}

{% block extra_head %}
{% recaptcha_init %}
{% endblock %}

{% block content %}
  <div class="row text-left">
    <div class="col-md-12">
      <h2>Sign up</h2>
      <form method="post" role="form" id="signupform">
        {% csrf_token %}
        <p>
            You do not have to use a character name for signing up. You will be
            prompted to register your characters later.
        </p>
        {{ form|bootstrap }}
        <button type="submit" role="button" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}
