{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
  <div class="row text-left">
    <div class="col-md-12">
      <h2>Select WoC clears/KIs for {{ view.character.name }}</h2>
      <form method="post" role="form" id="wocpopsform">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" role="button" class="btn btn-primary">Save changes</button>
        <a href="{% url 'character' view.character.name %}" role="button" class="btn btn-danger">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
