body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#signupform label {
    font-weight: bold;
}

#signupform span.help-block {
    background-color: #d9534f;
    color: white;
}

.fa.fa-star.master {
    color: rgb(249, 194, 55);
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: rgb(244, 248, 255);
}

body.gallery .row {
  display: block;
}

#main-background {
  position: fixed;
  left: 55%;
  top: 40px;
  opacity: 0.07;
  overflow: hidden;
}

#partybuilder span.event-job,
#partybuilder span.selected-char {
    cursor: pointer;
    background-color: #ccdfff;
    margin-right: 1em;
    padding: 0 0.5em;
}

.verticaltableheading {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    /*
    transform: rotate(-90deg);
    transform-origin: left top 0;
    float: left;
    border: 1px solid  red;
    */
}

#id_finished_aeonics {
    list-style: none;
    margin: 0;
}

#id_finished_aeonics li {
    float: left;
    min-width: 15em;
    margin: 0;
    padding: 0;
}

#killed_nms, #killed_nms ul {
    list-style: none;
    margin: 0;
    padding-left: 1em;
}

table.table-wave3info td {
  text-align: center;
}

#wave3characteredit ul {
  list-style: none;
}

#wave3characteredit label.control-label {
  font-weight: bold;
}

#dyna-plan-edit table {
  width: auto;
}

#dyna-plan-edit td,
#dyna-plan-edit th {
  padding: 0.25em;
  margin: 0;
}

#dyna-plan-edit td.role-select {
  min-width: 8em;
}
#dyna-plan-edit td.jobs-list {
  min-width: 26em;
}
#dyna-plan-edit td.character-select div {
  display: inline;
}
#dyna-plan-edit td.character-select select,
#dyna-plan-edit td.character-select input {
  min-width: 12em;
}

table.table-partyplan {
  width: auto;
}

table.table-partyplan,
table.table-partyplan td,
table.table-partyplan th {
  padding: 0.25em;
  margin: 0;
}

table.table-partyplan td.slot-role {
  min-width: 8em;
}
table.table-partyplan td.slot-jobs {
  min-width: 28em;
}
table.table-partyplan td.slot-character {
  min-width: 12em;
}
